# Day 2
## Part 1

In [66]:
# Example data
import pandas as pd
import numpy as np

data = [
    [7, 6, 4, 2, 1],
    [1, 2, 7, 8, 9], 
    [9, 7, 6, 2, 1],
    [1, 3, 2, 4, 5],
    [8, 6, 4, 4, 1],
    [1, 3, 6, 7, 9]
]

df = pd.DataFrame(data, columns=['L1', 'L2', 'L3', 'L4', 'L5'], 
                 index=['R' + str(i) for i in range(1, len(data) + 1)])
df

    L1  L2  L3  L4  L5
R1   7   6   4   2   1
R2   1   2   7   8   9
R3   9   7   6   2   1
R4   1   3   2   4   5
R5   8   6   4   4   1
R6   1   3   6   7   9

In [ ]:
# import input 2
# Read the file first to determine number of columns
with open('day_2_inputs.txt', 'r') as f:
    first_line = f.readline().strip()
    num_cols = len(first_line.split())

# Create column names dynamically
col_names = [f'L{i+1}' for i in range(num_cols)]

df = pd.read_csv('input2.txt',
                 header=None,
                 names=col_names,
                 delimiter=' ')
df

     L1  L2  L3  L4  L5    L6    L7    L8
0    42  44  47  49  51  52.0  54.0  52.0
1    24  27  30  31  32  35.0  36.0  36.0
2    80  82  85  86  87  90.0  94.0   NaN
3     4   5   7  10  13  14.0  20.0   NaN
4    38  41  40  42  45  47.0  50.0  52.0
..   ..  ..  ..  ..  ..   ...   ...   ...
995  22  23  24  25  27   NaN   NaN   NaN
996  82  83  84  87  88   NaN   NaN   NaN
997  41  43  45  46  49  52.0   NaN   NaN
998  24  22  21  19  16  15.0  13.0  12.0
999  61  64  66  69  71  72.0  75.0  77.0

[1000 rows x 8 columns]

In [68]:
# Initialize empty lists for results
safe_rows = []
ascending_list = []
descending_list = []
check1_list = []
check2_list = []
diffs_list = []

# Iterate through each row
for idx, row in df.iterrows():
    # Get non-NaN L columns for this row
    L_cols = [col for col in row.index if col.startswith('L') and not pd.isna(row[col])]
    
    if len(L_cols) < 2:  # Skip rows with less than 2 valid numbers
        safe_rows.append(False)
        ascending_list.append(False)
        descending_list.append(False)
        check1_list.append(False)
        check2_list.append(False)
        diffs_list.append([])
        continue
        
    # Check ascending/descending
    is_ascending = all(row[L_cols[i]] <= row[L_cols[i+1]] for i in range(len(L_cols)-1))
    is_descending = all(row[L_cols[i]] >= row[L_cols[i+1]] for i in range(len(L_cols)-1))
    check1 = is_ascending or is_descending
    
    # Calculate differences between adjacent values
    diffs = [abs(row[L_cols[i+1]] - row[L_cols[i]]) for i in range(len(L_cols)-1)]
    
    # Check if differences are within bounds
    max_diff_ok = max(diffs) < 4 if diffs else False
    min_diff_ok = min(diffs) > 0 if diffs else False
    check2 = max_diff_ok and min_diff_ok
    
    # Row is safe if both checks pass
    safe_rows.append(check1 and check2)
    ascending_list.append(is_ascending)
    descending_list.append(is_descending)
    check1_list.append(check1)
    check2_list.append(check2)
    diffs_list.append(diffs)

# Add results to dataframe
df['Safe'] = safe_rows
df['Is_Ascending'] = ascending_list
df['Is_Descending'] = descending_list
df['Check1'] = check1_list
df['Check2'] = check2_list
df['Diffs'] = diffs_list

# Count safe rows for part 1
safe_count = sum(safe_rows)
print(f"Part 1 Answer: {safe_count}")

Part 1 Answer: 282

In [69]:
df

,L1,L2,L3,L4,L5,L6,L7,L8,Safe,Is_Ascending,Is_Descending,Check1,Check2,Diffs
0,42,44,47,49,51,52.0,54.0,52.0,False,False,False,False,True,"[2.0, 3.0, 2.0, 2.0, 1.0, 2.0, 2.0]"
1,24,27,30,31,32,35.0,36.0,36.0,False,True,False,True,False,"[3.0, 3.0, 1.0, 1.0, 3.0, 1.0, 0.0]"
2,80,82,85,86,87,90.0,94.0,NaN,False,True,False,True,False,"[2.0, 3.0, 1.0, 1.0, 3.0, 4.0]"
3,4,5,7,10,13,14.0,20.0,NaN,False,True,False,True,False,"[1.0, 2.0, 3.0, 3.0, 1.0, 6.0]"
4,38,41,40,42,45,47.0,50.0,52.0,False,False,False,False,True,"[3.0, 1.0, 2.0, 3.0, 2.0, 3.0, 2.0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,22,23,24,25,27,NaN,NaN,NaN,True,True,False,True,True,"[1.0, 1.0, 1.0, 2.0]"
996,82,83,84,87,88,NaN,NaN,NaN,True,True,False,True,True,"[1.0, 1.0, 3.0, 1.0]"
997,41,43,45,46,49,52.0,NaN,NaN,True,True,False,True,True,"[2.0, 2.0, 1.0, 3.0, 3.0]"
998,24,22,21,19,16,15.0,13.0,12.0,True,False,True,True,True,"[2.0, 1.0, 2.0, 3.0, 1.0, 2.0, 1.0]"
999,61,64,66,69,71,72.0,75.0,77.0,True,True,False,True,True,"[3.0, 2.0, 3.0, 2.0, 1.0, 3.0, 2.0]"

## Part 2

In [72]:
def check_row_safety(row, L_cols):
    """
    Check if a row is safe after removing one column.
    A row is safe if the remaining sequence is monotonic (ascending or descending)
    and adjacent differences are between 0 and 4 exclusive.
    """
    if len(L_cols) < 2:
        return False
        
    values = [row[col] for col in L_cols]
    
    # Try removing each value one at a time
    for i in range(len(values)):
        remaining = values[:i] + values[i+1:]
        
        # Check if sequence is monotonic and differences are valid
        is_ascending = all(remaining[j] <= remaining[j+1] for j in range(len(remaining)-1))
        is_descending = all(remaining[j] >= remaining[j+1] for j in range(len(remaining)-1))
        
        if is_ascending or is_descending:
            # Calculate differences only if monotonic
            diffs = [abs(remaining[j+1] - remaining[j]) for j in range(len(remaining)-1)]
            if all(0 < diff < 4 for diff in diffs):
                return True
            
    return False

# Process each row to find safe sequences after removing one number
safe_rows_p2 = []
for idx, row in df.iterrows():
    # Get non-NaN L columns for this row
    L_cols = [col for col in row.index if col.startswith('L') and not pd.isna(row[col])]
    safe_rows_p2.append(check_row_safety(row, L_cols))

# Count safe rows for part 2
safe_count_p2 = sum(safe_rows_p2)
print(f"Part 2 Answer: {safe_count_p2}")

Part 2 Answer: 349